{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo-mini" href=""><img alt="logo" src="{% static 'assets/images/logo-mini.svg' %}"/></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">


                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">{{ user.username | capfirst }}</h5>
                        <span></span>
                    </div>

                <a data-toggle="dropdown" href="#" id="profile-dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                <div aria-labelledby="profile-dropdown" class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list">
                    <a class="dropdown-item preview-item" href="#">
                        <div class="preview-thumbnail">

                        </div>
                        <div class="preview-item-content">
                            <a class="preview-subject ellipsis mb-1 " href="{% url 'profile' %}">Profile</a>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'profile' %}">
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a aria-controls="ui-basic" aria-expanded="false" class="nav-link" data-toggle="collapse" href="#ui-basic">
                <span class="menu-title">Professional details</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="{% url 'addproject' %}">Add Project details</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'addqualification' %}">Add Educational details</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'addexperience' %}">Add Experience details</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'addcertificate' %}">Add Certifications</a></li>


                </ul>
            </div>
        </li>
         <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'viewproject' %}">
                <span class="menu-title">Project Showcase</span>
            </a>
        </li>
    </ul>
</nav>