<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project</title>
</head>
<body>
<h2>Projects for {{ user.username }}</h2>

{% if projects %}
    <ul>
        {% for project in projects %}
            <li>
                <h3>{{ project.projectname }}</h3>
                <p>{{ project.description }}</p>
                {% if project.projectimage %}
                    <img src="{{ project.projectimage.url }}" alt="{{ project.projectname }}">
                 {% else %}
                     <p>No image available</p>
                {% endif %}
            </li>
        {% endfor %}

    </ul>
{% else %}
    <p>No projects found for {{ user.username }}.</p>
{% endif %}

</body>
</html>